---
import ContentSection from "../ContentSection.astro";
---

<ContentSection title="Weitere Hinweise" variant="neutral">
  <p>
    Lagen können sich in Gotham City sehr schnell verändern. Reisenden wird
    empfohlen:
  </p>
  <ul>
    <li>Notfallkontakte zu hinterlegen</li>
    <li>Angehörige über Aufenthaltsorte zu informieren</li>
    <li>jederzeit eine schnelle Ausreise einzuplanen</li>
  </ul>
</ContentSection>
