---
import ContentSection from "../ContentSection.astro";
---

<ContentSection title="Verhaltensempfehlungen" variant="info">
  <ul>
    <li>Vermeiden Sie nächtliche Aufenthalte im Freien</li>
    <li>Beobachten Sie lokale Nachrichten aufmerksam</li>
    <li>Halten Sie sich von maskierten oder bewaffneten Personen fern</li>
    <li>
      Folgen Sie bei Sirenen oder Evakuierungsanweisungen sofort den Behörden
    </li>
  </ul>
</ContentSection>
