---
import ContentSection from "../ContentSection.astro";
---

<ContentSection title="Natur und Klima" variant="info">
  <p>
    Gotham City liegt in einer Küstenregion mit häufigen Starkregenfällen, Nebel
    und Stürmen. Überschwemmungen in tieferliegenden Stadtteilen kommen
    regelmäßig vor.
  </p>
  <p>
    Die dichte Bebauung und alte Industrieanlagen erhöhen zusätzlich das
    Unfallrisiko.
  </p>
</ContentSection>
