---
import ContentSection from "../ContentSection.astro";
---

<ContentSection title="Aktuelles – Kurzinfo" variant="info">
  <p>
    In Gotham City kommt es regelmäßig zu schwerwiegenden Sicherheitsvorfällen
    durch hochgefährliche Einzelpersonen und kriminelle Organisationen.
    Wiederkehrende Angriffe auf öffentliche Einrichtungen, Banken, Verkehrswege
    und Regierungsgebäude führen zu häufigen Ausnahmezuständen.
  </p>
  <p>
    Die öffentliche Sicherheit wird teilweise durch außerstaatliche Akteure
    unterstützt, darunter der Vigilant Batman, was die instabile Sicherheitslage
    zusätzlich verdeutlicht.
  </p>
</ContentSection>
