---
import ContentSection from "../ContentSection.astro";
---

<ContentSection title="Besondere Gefahrenorte" variant="warning">
  <p><strong>Reisende sollten folgende Bereiche meiden:</strong></p>
  <ul>
    <li>
      <strong>Arkham Asylum</strong> – wiederholte Ausbrüche gefährlicher Insassen
    </li>
    <li>Industrie- und Hafenviertel</li>
    <li>abgelegene U-Bahn-Tunnel</li>
    <li>schlecht beleuchtete Innenstadtbereiche nachts</li>
  </ul>
</ContentSection>
