---
import ContentSection from "../ContentSection.astro";
---

<ContentSection title="Gesundheit" variant="info">
  <p>
    Die medizinische Versorgung ist grundsätzlich vorhanden, kann jedoch bei
    Großschadenslagen schnell überlastet sein.
  </p>

  <h3>Empfohlen werden:</h3>
  <ul>
    <li>umfassender Krankenversicherungsschutz mit Rücktransport</li>
    <li>Mitführen persönlicher Medikamente</li>
    <li>erhöhte Vorsicht bei Massenpaniken oder Gasangriffen</li>
  </ul>
</ContentSection>
