---
import ContentSection from "../ContentSection.astro";
---

<ContentSection
  title="Reiseinfos – Infrastruktur und Verkehr"
  variant="neutral"
>
  <p>
    Die Infrastruktur ist grundsätzlich vorhanden, kann jedoch durch
    Sicherheitsvorfälle kurzfristig ausfallen.
  </p>
  <ul>
    <li>
      U-Bahn-Stationen werden regelmäßig aus Sicherheitsgründen geschlossen
    </li>
    <li>Brücken und Tunnel können nach Anschlägen gesperrt werden</li>
    <li>Nachtfahrten gelten als besonders riskant</li>
  </ul>
  <p><em>Taxifahrten sollten nur über registrierte Anbieter erfolgen.</em></p>
</ContentSection>
