---
import ContentSection from "../ContentSection.astro";
---

<ContentSection title="Rechtliche Besonderheiten" variant="neutral">
  <p>
    Die Sicherheitsbehörden führen verstärkte Kontrollen durch.
    Identitätsprüfungen können kurzfristig erfolgen.
  </p>
  <p>
    Das Betreten abgesperrter Bereiche sowie das Fotografieren von
    Polizeieinsätzen, Hochsicherheitsanstalten oder Unternehmensanlagen –
    insbesondere von Wayne Enterprises – kann strafrechtliche Konsequenzen
    haben.
  </p>
</ContentSection>
