---
import ContentSection from "../ContentSection.astro";
---

<ContentSection title="Innenpolitische Lage" variant="neutral">
  <p>
    Korruption innerhalb politischer und wirtschaftlicher Strukturen stellt
    weiterhin ein erhebliches Problem dar. Teile von Verwaltung, Polizei und
    Justiz gelten als unterwandert durch kriminelle Netzwerke.
  </p>
  <p>
    Kurzfristige Ausgangssperren, Evakuierungen einzelner Stadtviertel sowie
    großangelegte Polizeieinsätze sind jederzeit möglich.
  </p>
</ContentSection>
