---
import AlertBox from "../AlertBox.astro";
---

<AlertBox type="danger" title="⚠️ Sicherheit – Reisewarnung">
  <p>
    <strong
      >Vor nicht unbedingt erforderlichen Reisen nach Gotham City wird gewarnt.</strong>
  </p>
  <p>
    Die Sicherheitslage in Gotham City ist seit Jahren äußerst angespannt.
    Gewaltkriminalität, organisierte Bandenstrukturen sowie wiederkehrende
    schwere Anschläge prägen das öffentliche Leben. Auch ausländische
    Staatsangehörige geraten regelmäßig in Gefahrensituationen.
  </p>
  <p>
    Deutsche Staatsangehörige werden aufgefordert, Aufenthalte auf das unbedingt
    notwendige Maß zu beschränken und die Stadt bei einer weiteren
    Verschlechterung der Lage zu verlassen.
  </p>
</AlertBox>
