---
import ContentSection from "../ContentSection.astro";
---

<ContentSection
  title="Terrorismus und schwere Gewaltkriminalität"
  variant="warning"
>
  <p>In der gesamten Stadt besteht ein hohes Risiko von:</p>
  <ul>
    <li>Bombenanschlägen</li>
    <li>Geiselnahmen und Entführungen</li>
    <li>chemischen oder psychologischen Angriffen</li>
    <li>bewaffneten Überfällen</li>
  </ul>
  <p>
    Angriffe erfolgen häufig ohne Vorwarnung und auch an stark frequentierten
    Orten wie Bahnhöfen, Brücken, Stadien oder Einkaufszentren.
  </p>
  <p>
    <strong
      >Besonders gefährlich sind Aktionen bekannter Gewaltverbrecher, darunter
      der sogenannte Joker, dessen Anschläge wiederholt zahlreiche Opfer
      forderten.</strong
    >
  </p>
  <p>
    <em
      >Meiden Sie Menschenansammlungen und folgen Sie jederzeit den Anweisungen
      der Sicherheitskräfte.</em
    >
  </p>
</ContentSection>
